<!DOCTYPE html>
<html>
<head>
  <title>NL</title>
  <style>
      .offset{
   margin-left: 15%; 
   margin-right: 15%; 
    padding: 10px;
      }
      main {
        min-height: 459px;
      }
   </style>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>


  </script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
  <nav id="navbar" class="black z-depth-4 nav-wrapper">
     <a href="main.html"> <img src="images/NLft.png" width="150" height="58" alt="Иллюстрация" align="left" vspace="5" hspace="5"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a ng-click="Information()">Информация</a></li>
        <li><a ng-click="Component()">Компоненты</a></li>
        <li><a ng-click="Login()">Вход</a></li>
        <script>    
    var app = angular.module('myApp', []);     
    app.controller('myCtrl', function($scope,$http) { 
      var get = function() { 
     $http.get("/get_chat").then(function(response) { 
      console.log("sent get"); 
       $scope.rdata = response.data; 
        setTimeout(get, 1000); 
            }); 
             }; 
               setTimeout(get, 1000); 

     /* $scope.Information = function() {
      $scope.myname = "Здесь должна быть информация о сайте,но её нет ((((((";
      }
      $scope.Component = function() {
      $scope.myname = "Здесь должны быть компоненты,но их нет ((((((";
      }
      $scope.Login = function() {
      $scope.myname = '<h1>Здесь должна быть вход на сайт , но он не работает ((((((</h1>';
      }*/
    });
    </script>
      </ul>
  </nav>
  <main class="offset #e0e0e0 grey lighten-2">
     <div ng-app="myApp" ng-controller="myCtrl">
        <form name="test" method="post">
  <p><b>Задание:</b><br>
   <p>{{scope.rdata.txtask}}</p>
  </p>
  <p><b>Подсказака:</b><br>
   <p>{{scope.rdata.txthint_1}}</p>
  </p>
  <p><b>Код:</b><br>
   <input type="text" size="40">
  </p>
  <p><input type="submit" value="Отправить">
   <input type="reset" value="Очистить"></p>
 </form>


     </div>
  </main>
   <footer class="page-footer black">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
              </div>
              <div class="col l4 offset-l2 s12">
                
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Nite Liga
            </div>
          </div>
        </footer>
</body>
</html>